build
obj
bin
_ReSharper.*
_resharper.*
*.resharper
*.ReSharper
*.resharper.*
*.ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
/src/PrgData/Logs/PrgData.txt
/src/PrgData/Logs/PrgDataDebug.txt
*.user