output
obj
bin
_ReSharper.*
_resharper.*
*.resharper
*.ReSharper
*.resharper.*
*.ReSharper.*
*.user
*.suo
*.resharper
*.docstates
*.cache
/src/PrgData/Logs/PrgData.txt
/src/PrgData/Logs/PrgDataDebug*
packages/
build/
*.gen.*
