<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>

	<appSettings>
		<add key="MySqlFilePath" value="MySQLFiles" />
		<add key="MySqlLocalFilePath" value="U:\MySQLFiles\" />
		<add key="DocumentsPath" value="U:\AptBox\" />
		<add key="MaxGetUserDataSession" value="50" />
		<add key="ErrorMail" value="service@analit.net"/>
		<add key="WaybillServiceUri" value="net.tcp://fms.adc.analit.net:901/WaybillService"/>
		<add key="FakeHost" value=""/>
		<add key="FakeIp" value=""/>
		<add key="FakeDNS" value="91.209.124.10"/>
		<add key="AccessTimeHistoryDepth" value="5"/>
		<add key="MustLogHttpcontext" value="False"/>
		<add key="TechMail" value="aftech@analit.net"/>
		<add key="BillingMail" value="afbilling@analit.net"/>
		<add key="OfficeMail" value="afoffice@analit.net"/>
    <add key="SupportMail" value="tech@analit.net"/>
  </appSettings>


	<connectionStrings>
		<add name="Main" connectionString="Database=usersettings;Data Source=sql.analit.net;Port=3306;User Id=PrgDataSvc;Password=samepass;pooling=true;default command timeout=200;Allow user variables=true;convert zero datetime=yes;" />
	</connectionStrings>


	<system.serviceModel>

		<serviceHostingEnvironment multipleSiteBindingsEnabled="true">
		</serviceHostingEnvironment>

		<services>
			<service behaviorConfiguration="InforoomOnlineServiceBehavior" name="PrgData.StatisticService">
				<endpoint binding="basicHttpBinding" bindingConfiguration="InforoomBinding" contract="PrgData.IStatisticService" />
			</service>
		</services>

		<bindings>
			<basicHttpBinding>
				<binding name="InforoomBinding" maxBufferSize="2097152" maxReceivedMessageSize="2097152">
					<security mode="TransportCredentialOnly">
						<transport clientCredentialType="Ntlm" />
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>

		<behaviors>
			<serviceBehaviors>
				<behavior name="InforoomOnlineServiceBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

	</system.serviceModel>

	<system.web>
		<pages validateRequest="false" />
		<httpRuntime executionTimeout="3000" requestValidationMode="2.0" />
		<globalization requestEncoding="windows-1251" />
		<webServices>
			<protocols>
				<clear />
				<add name="HttpPost" />
				<add name="HttpSoap12" />
			</protocols>
		</webServices>
		<sessionState mode="Off" />
	</system.web>

	<log4net>

		<appender name="LogFile" type="log4net.Appender.RollingFileAppender, log4net">
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<file value="..\..\..\Logs\PrgData.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<staticLogFileName value="true" />
			<maximumFileSize value="10MB" />
			<threshold value="WARN" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d{dd.MM.yyyy HH:mm:ss.fff} %property{user} [%t] %-5p %c - %m%n" />
			</layout>
		</appender>

		<appender name="DebugLogFile" type="log4net.Appender.RollingFileAppender, log4net">
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<file value="..\..\..\Logs\PrgDataDebug_" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<MaxSizeRollBackups value="20" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d{dd.MM.yyyy HH:mm:ss.fff} %property{user} [%t] %-5p %c - %m%n" />
			</layout>
		</appender>

		<appender name="ExportInfo" type="log4net.Appender.RollingFileAppender, log4net">
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<file value="..\..\..\Logs\PrgDataDebugExport_" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<MaxSizeRollBackups value="20" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d{dd.MM.yyyy HH:mm:ss.fff} %property{user} [%t] %-5p %c - %m%n" />
			</layout>
		</appender>

		<appender name="Email" type="log4net.Appender.SmtpAppender,log4net">
			<to value="service@analit.net" />
			<from value="service@analit.net" />
			<subject value="Ошибка в сервисе подготовки данных" />
			<smtpHost value="box.analit.net" />
			<lossy value="false" />
			<bufferSize value="1" />
			<threshold value="ERROR" />
			<layout type="log4net.Layout.PatternLayout,log4net">
				<conversionPattern value="Дата: %date%nХост: %property{log4net:HostName}%nПользователь: %property{user}%n%m%n" />
			</layout>
		</appender>

		<root>
			<level value="WARN" />
			<appender-ref ref="Email" />
			<appender-ref ref="LogFile" />
		</root>

		<logger name="PrgData.PrgDataEx">
			<level value="DEBUG" />
			<appender-ref ref="DebugLogFile" />
		</logger>

		<logger name="PrgData.LogRequestHelper" additivity="false">
			<level value="INFO" />
			<appender-ref ref="LogFile" />
		</logger>

		<logger name="NHibernate" additivity="false">
			<level value="OFF" />
		</logger>

		<logger name="PrgData.Common.DebugReplicationHelper" additivity="false">
			<level value="DEBUG" />
			<appender-ref ref="ExportInfo" />
		</logger>

		<logger name="PrgData.FileHandlers.GetFileHandler">
			<level value="DEBUG" />
			<appender-ref ref="DebugLogFile" />
		</logger>

    <logger name="PrgData.Common.Orders">
      <level value="DEBUG" />
      <appender-ref ref="DebugLogFile" />
    </logger>
    
  </log4net>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<defaultDocument>
		  <files>
			<clear />
		  </files>
		</defaultDocument>
		<urlCompression doStaticCompression="false" doDynamicCompression="false" />
	</system.webServer>

</configuration>
