<?xml version="1.0"?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="Local" connectionString="Database=usersettings;Data Source=localhost;User Id=root;pooling=true;default command timeout=120;Allow user variables=true;convert zero datetime=yes;"/>
		<add name="integration" connectionString="Database=usersettings;Data Source=testsql.analit.net;User Id=system;Password=newpass;pooling=true;default command timeout=120;Allow user variables=true;convert zero datetime=yes;"/>
	</connectionStrings>
	<appSettings>
	<add key="MySqlFilePath" value="\\fms.adc.analit.net\AFFiles\"/>
	<add key="MySqlLocalFilePath" value="\\fms.adc.analit.net\AFFiles\" />
	<add key="MaxGetUserDataSession" value="10"/>
	<add key="DocumentsPath" value="FtpRoot\"/>
	<add key="ClientSettingsProvider.ServiceUri" value=""/>
	<add key="AccessTimeHistoryDepth" value="5"/>
		<add key="ErrorMail" value="kvasovtest@analit.net"/>
		<add key="TechMail" value="kvasovtest@analit.net"/>
		<add key="BillingMail" value="kvasovtest@analit.net"/>
		<add key="OfficeMail" value="kvasovtest@analit.net"/>
		<add key="SupportMail" value="kvasovtest@analit.net"/>
	</appSettings>
<startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
