<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Integration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Main" connectionString="Database=usersettings;Data Source=testsql.analit.net;Port=3306;User Id=system;Password=newpass;pooling=true;default command timeout=0;Allow user variables=true" />
  </connectionStrings>
  <applicationSettings>
    <Integration.Properties.Settings>
      <setting name="Integration_localhost_PrgDataEx" serializeAs="String">
        <value>http://localhost/PrgData/code.asmx</value>
      </setting>
    </Integration.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="WaybillPath" value="..\..\Data\Waybills" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>